.video_card {
  --card_width: 18rem;
  --thumbnail_height: 9rem;
  --thumbnail_width: var(--card_width);

  width: var(--card_width);
}
.video_card > .video_tumbnail {
  @apply relative rounded-lg overflow-hidden;

  isolation: isolate;
  height: var(--thumbnail_height);
  width: var(--thumbnail_width);
}
.video_card > .video_tumbnail > img {
  object-fit: cover;
}

.video_card > .video_tumbnail > span.ago {
  @apply absolute rounded-lg;

  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 10;
  font-size: 0.75rem;
  font-weight: 200;
  background: rgb(var(--background-rgb));
  padding: 0.25rem 0.5rem;
}
.video_card > p {
  width: var(--card_width);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1rem;
}
.video_card > p.video_channel {
  -webkit-line-clamp: 1;
  font-size: 0.85rem;
  font-weight: 400;
}

.video_card > .video_upload {
  @apply flex items-center gap-2;
}
.video_card > .video_upload span {
  font-size: 0.75rem;
}

.video_card.small_video_card {
  --card_width: 20rem;
  --thumbnail_height: 5.5rem;
  --thumbnail_width: 10rem;

  @apply grid gap-x-2 items-center;

  grid-template-columns: var(--thumbnail_width) auto;
  grid-template-rows: 1fr 0.5fr 0.5fr;
}
.video_card.small_video_card > .video_tumbnail {
  grid-row: 1/4;
}
.video_card.small_video_card > p {
  width: calc(var(--card_width) - var(--thumbnail_width));
  -webkit-line-clamp: 2;
  font-size: 0.85rem;
}
.video_card.small_video_card > p.video_channel {
  font-size: 0.7rem;
}

@media screen and (width <=600px) {
  .video_card {
    --card_width: 24rem;
    --thumbnail_height: 13rem;
  }
}
