@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 241, 241, 241;
  --foreground-rgb: 15, 15, 15;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 241, 241, 241;
    --background-rgb: 15, 15, 15;
  }
}

body {
  --header-height: 10vh;
  --nav-width: 15vw;
  --nav-height: calc(100vh - var(--header-height));

  height: 100vh;
  width: 100vw;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  position: relative;
}

body > main {
  --main-width: calc(100vw - var(--nav-width));
  --main-height: calc(100vh - var(--header-height));
  @apply flex-1 absolute;

  bottom: 0;
  right: 0;
  width: var(--main-width);
  height: var(--main-height);

  overflow: scroll;
  scrollbar-color: rgb(var(--foreground-rgb)) rgb(var(--background-rgb));
  scrollbar-width: thin;
}

/* chrome */
main::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
main::-webkit-scrollbar-track {
  background: rgb(var(--background-rgb));
}
main::-webkit-scrollbar-thumb {
  background: rgb(var(--foreground-rgb));
}
main::-webkit-scrollbar-track:hover {
  background: rgba(var(--foreground-rgb), 0.2);
}

/* 
    mobile: 600px 
    */

/* Mobile Mode */
@media screen and (width <=600px) {
  body {
    --header-height: 7vh;
    --nav-height: 7vh;
  }
  body > main {
    --main-width: 100vw;
    --main-height: calc(100vh - calc(var(--nav-height) + var(--header-height)));

    margin: var(--header-height) 0 var(--nav-height) 0;
  }
}
