header {
  @apply flex pt-3 pb-3 pl-5 pr-5;

  background: rgb(var(--background-rgb));
  height: 10vh;
  .logo_area {
    flex: 0.3;

    .logo {
      @apply relative cursor-pointer;

      height: 3rem;
      width: 3rem;
    }
  }

  .search_area {
    @apply flex items-center justify-center;

    flex: 1;
  }

  .side_actions {
    @apply flex items-center justify-end gap-2;

    flex: 0.3;

    button {
      @apply p-2 rounded-full;

      &:hover {
        background: #000;
      }

      svg {
        height: 1.7rem;
        width: 1.7rem;
      }
    }

    .user_icon {
      @apply relative cursor-pointer;

      height: 3rem;
      width: 3rem;
    }
  }
}
