header {
  @apply flex py-3 px-5 fixed;

  top: 0;
  left: 0;
  width: 100vw;
  background: rgb(var(--background-rgb));
  height: var(--header-height);
}
header > .logo_area {
  @apply flex items-center;
  flex: 0.3;
}
header > .logo_area > .logo {
  @apply relative cursor-pointer;

  height: 3rem;
  width: 3rem;
}

header > .search_area {
  @apply flex items-center justify-center;

  flex: 1;
}

header > .side_actions {
  @apply flex items-center justify-end gap-2;

  flex: 0.3;
}
header > .side_actions > button {
  @apply p-2 rounded-full;
}
header > .side_actions > button:hover {
  background: #000;
}

header > .side_actions > button > svg {
  height: 1.7rem;
  width: 1.7rem;
}

header > .side_actions > .user_icon {
  @apply relative cursor-pointer;

  height: 3rem;
  width: 3rem;
}

@media screen and (width <=600px) {
  header > .logo_area {
    display: none;
  }
  header > .side_actions > button {
    display: none;
  }
}
