nav {
  @apply flex flex-col gap-3 px-3 absolute;

  bottom: 0;
  left: 0;
  overflow-y: scroll;
  scrollbar-color: rgb(var(--foreground-rgb)) rgb(var(--background-rgb));
  scrollbar-width: thin;
  width: var(--nav-width);
  height: calc(100vh - var(--header-height));

  /* chrome */
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: rgb(var(--background-rgb));
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(var(--foreground-rgb));
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--foreground-rgb), 0.2);
  }

  & > span {
    @apply mt-1 pt-1 px-1;

    border-top: 1px solid rgba(var(--foreground-rgb), 0.1);
  }

  & > .nav_item {
    --active-bg: rgba(var(--foreground-rgb), 0.2);

    @apply flex gap-4 px-2 py-1 rounded-md;

    width: calc(var(--nav-width) - 2.25rem);

    &:is(:hover, :focus-visible) {
      outline: none;
      border: none;
      background: var(--active-bg);
    }

    &.active {
      background: var(--active-bg);
    }
  }
}
